<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowMultipleInstances</key>
	<false/>
	<key>AllowSystem</key>
	<true/>
	<key>CFBundleIdentifier</key>
	<string>com.craigfrancis.datetime</string>
	<key>CFBundleName</key>
	<string>DateTime</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>MainHTML</key>
	<string>index.html</string>
	<key>Width</key>
	<integer>477</integer>
	<key>Height</key>
	<integer>467</integer>
</dict>
</plist>